<?php  // Moodle configuration file

unset($CFG);
global $CFG;
$CFG = new stdClass();

$CFG->dbtype    = 'mysqli';
$CFG->dblibrary = 'native';
$CFG->dbhost    = '{{ dbhost }}';
$CFG->dbname    = '{{ dbname }}';
$CFG->dbuser    = '{{ dbuser }}';
$CFG->dbpass    = '{{ dbpass }}';
$CFG->prefix    = 'mdl_';
$CFG->dboptions = array (
  'dbpersist' => 0,
  'dbport' => 3306,
  'dbsocket' => '',
  'dbcollation' => 'utf8mb4_general_ci',
);

$CFG->sslproxy	= 1;
$CFG->wwwroot   = '{{ wwwroot }}';
$CFG->dataroot  = '/var/www/moodledata';
$CFG->admin     = 'admin';

$CFG->directorypermissions = 0777;


#$CFG->xsendfile = 'X-Accel-Redirect';
#$CFG->xsendfilealiases = array(
#    '/dataroot/' => $CFG->dataroot
#);

require_once(__DIR__ . '/lib/setup.php');

// For debugging purposes
#$CFG->debug = 6143;
#$CFG->debugdisplay = 1;

// There is no php closing tag in this file,
// it is intentional because it prevents trailing whitespace problems!